body {
    margin: 0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    min-height: 100vh;
}

.container.home {
    background-color: ghostwhite;
}

.content {
    padding: 1em;
}

h1 {
    text-align: start;
}

.album-artwork {
    width: 400px;
    height: 400px;
}

.hidden {
    display: none;
}
